<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
<meta charset="UTF-8">
<title>About page</title>
</head>
<body>
<section id="content" >
 <!-- Features Section -->
  <section class="py-20 bg-white">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-12 animate__animated animate__fadeInUp gap-5">About Contact Manager</h2>
          <br>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
          <i class="fa fa-crosshairs text-blue-600 text-4xl mb-4"></i>
          <h3 class="text-xl font-semibold mb-2">Contact Manager Website</h3>
      
         <p class="text-gray-600"><i class="fa fa-podcast" aria-hidden="true"></i> The Contact Manager Website is a web-based application designed to help users efficiently store, organize, and manage personal or professional contact information.
         <i class="fa fa-podcast" aria-hidden="true"></i> This platform allows users to securely log in, add new contacts, edit existing details, delete contacts, and search through their contact list with ease..</p>
        </div>
        <div class="p-6 bg-gray-100 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
          <i class="fa fa-crosshairs text-blue-600 text-4xl mb-4"></i>
          <h3 class="text-xl font-semibold mb-2">Key Features:</h3>
          
          <p class="text-gray-600"><i class="fa fa-podcast" aria-hidden="true"></i> User Authentication: Secure login and registration system to protect user data.
          

<i class="fa fa-podcast" aria-hidden="true"></i> Add/Edit/Delete Contacts: Users can create new contacts with details like name, phone number, email, address, and additional notes.
<i class="fa fa-podcast" aria-hidden="true"></i> They can also update or remove existing entries.

<i class="fa fa-podcast" aria-hidden="true"></i> Search & Filter: A dynamic search feature that helps users find contacts quickly by name, email, or phone number.

<i class="fa fa-podcast" aria-hidden="true"></i> User Dashboard: A clean and user-friendly interface that provides an overview of all stored contacts.

<i class="fa fa-podcast" aria-hidden="true"></i> Responsive Design: Optimized for both desktop and mobile devices.

<i class="fa fa-podcast" aria-hidden="true"></i> Data Security: User-specific contact storage ensures that each user’s data remains private and secure.
          
 
          </p>
    
      </div>
    </div>
  </section>







</section>
    <script>
      console.log("about page");
    </script>
    <script>
      console.log("second about page script");
    </script>
</body>
</html>